# Playdate Output
builds/*
*.pdx

# Dev environment (to be reviewed)
.sentry-native
Build and Run*
build_and_run.sh

# OS Specific
.DS_Store
*.kra~
*.png~

# Audio temp export folder
source/sound/export/*
project_snooze.code-workspace

# (Ines) Remove these from the diff until sorting them
screenshots/
